<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>节点管理</title>
 	<link rel="stylesheet" href="css/frozen.css" />
 	<link rel="stylesheet" href="css/main.css" />
    <body class="repay-detail self-whitebg">
    	<div class="loan-search none">
    		<em class="loan-back none"></em>
    		<input type="search" class="loan-search-ipt" name="search"/>
    		<span class="loan-search-btn">搜索</span>
    		<em class="loan-search-clear"></em>
    	</div>
    	<div class="ui-tab" id="repay-detail">
		    <ul class="ui-row-flex loan-detail-title loan-center">
		        <li class="ui-col current loanClauseTab" data-type = "LoanClause">条款</li>
		        <li class="ui-col saleNodeTab" data-type = "SaleNode">销售</li>
		        <li class="ui-col" data-type = "ProjectNode">工程</li>
		        <li class="ui-col" data-type = "OtherNode">其他</li>
		    </ul>
		    <ul class="ui-tab-content">
		    	<!------------------------------重要条款-------------------------->
		        <li  class="tempLoanClause">
		        	<div class="ui-row-flex repay-detail-title">
					    <div class="ui-col loan-center">条款编号</div>
					    <div class="ui-col loan-center">条款类型</div>
					    <div class="ui-col loan-center">详情信息</div>
					</div>
			    	<ul class="repay-detail-list"  id="repayTabLoanClause">
			    		<script id="repayTempLoanClause" type="text/html">
			    		{{each loanClauseList}}	
			    		<li>
			    			<div class="ui-row-flex">
					    		<div class="ui-col self-omit loan-center">{{$value.clauseNo}}</div>
					    		<div class="ui-col self-omit loan-center">{{$value.clauseType}}</div>
					    		
					    		<div class="ui-col self-omit loan-center"><a class="repay-detail-more" href="loan_clause_list.html?clauseId={{$value.clauseId}}">查看</a></div>
					    	</div>
			    		</li>
			    		{{/each}}
			    		</script>
			    	</ul>
			    	<div class="ui-loading-wrap">
					    <p>正在加载中...</p>
					</div>
		        </li>
		        <!------------------------------销售节点-------------------------->
		        <li  class="none tempSaleNode">
		        	<div class="ui-row-flex repay-detail-title">
					    <div class="ui-col">节点日期</div>
					    <div class="ui-col">状态</div>
					    <div class="ui-col ui-col-2">节点名称</div>
					</div>
					
			    	<ul class="repay-detail-list"  id="repayTabSaleNode">
			    		<script id="repayTempSaleNode" type="text/html">
			    		{{each loanNodeList}}	
			    		<li>
			    			<a class="repay-detail-more" href="loan_node_list.html?nodeId={{$value.nodeId}}&status=SaleNode">
			    			<div class="ui-row-flex">
					    		<div class="ui-col self-omit">{{$value.nodeDate}}</div>
					    		<div class="ui-col self-omit {{if $value.nodeStatus == '03'}}repay-detail-active{{/if}}">{{$value.nodeStatusDesc}}</div>
					    		<div class="ui-col ui-col-2 self-omit">{{$value.nodeName}}</div>
					    	</div>
					    	</a>
			    		</li>
			    		{{/each}}
			    		</script>
			    	</ul>
			    	<div class="ui-loading-wrap">
					    <p>正在加载中...</p>
					</div>
		        </li>
		        <!------------------------------工程节点-------------------------->
		        <li class="none tempProjectNode">
		        	<div class="ui-row-flex repay-detail-title">
					    <div class="ui-col">节点日期</div>
					    <div class="ui-col">状态</div>
					    <div class="ui-col ui-col-2">节点名称</div>
					</div>
			    	<ul class="repay-detail-list"  id="repayTabProjectNode">
			    		<script id="repayTempProjectNode" type="text/html">
			    		{{each loanNodeList}}	
			    		<li>
			    			<a class="repay-detail-more" href="loan_node_list.html?nodeId={{$value.nodeId}}&status=ProjectNode">
			    			<div class="ui-row-flex">
					    		<div class="ui-col self-omit">{{$value.nodeDate}}</div>
					    		<div class="ui-col self-omit {{if $value.nodeStatus == '03'}}repay-detail-active{{/if}}">{{$value.nodeStatusDesc}}</div>
					    		<div class="ui-col ui-col-2 self-omit">{{$value.nodeName}}</div>
					    	</div>
					    	</a>
			    		</li>
			    		{{/each}}
			    		</script>
			    	</ul>
			    	<div class="ui-loading-wrap">
					    <p>正在加载中...</p>
					</div>
		        </li>
		        <!------------------------------其他节点-------------------------->
		        <li class="none tempOtherNode">
		        	<div class="ui-row-flex repay-detail-title">
					    <div class="ui-col">节点日期</div>
					    <div class="ui-col">状态</div>
					    <div class="ui-col ui-col-2">节点名称</div>
					</div>
			    	<ul class="repay-detail-list"  id="repayTabOtherNode">
			    		<script id="repayTempOtherNode" type="text/html">
			    		{{each loanNodeList}}	
			    		<li>
			    			<a class="repay-detail-more" href="loan_node_list.html?nodeId={{$value.nodeId}}&status=OtherNode">
			    			<div class="ui-row-flex">
					    		<div class="ui-col self-omit">{{$value.nodeDate}}</div>
					    		<div class="ui-col self-omit {{if $value.nodeStatus == '03'}}repay-detail-active{{/if}}">{{$value.nodeStatusDesc}}</div>
					    		<div class="ui-col ui-col-2 self-omit">{{$value.nodeName}}</div>
					    	</div>
					    	</a>
			    		</li>
			    		{{/each}}
			    		</script>
			    	</ul>
			    	<div class="ui-loading-wrap">
					    <p>正在加载中...</p>
					</div>
		        </li>
		    </ul>
		</div>
    </body>
    <script type="text/javascript" src="js/zepto.min.js" ></script>
    <script type="text/javascript" src="js/frozen.js" ></script>
    <script type="text/javascript" src="js/artTemplate.min.js" ></script>
    <script type="text/javascript" src="js/common.js" ></script>
    <script type="text/javascript" src="js/module.js" ></script>
    <script>
    	$(function(){
			loanNode.init();
			menus();
		});
    </script>
</html>
