<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>还款详情</title>
 	<link rel="stylesheet" href="css/frozen.css" />
 	<link rel="stylesheet" href="css/main.css" />
    <body class="loan-detail">
    	<div class="ui-row-flex loan-detail-title">
		    <div class="ui-col ui-col-1">名称</div>
		    <div class="ui-col ui-col-2 loan-center">详细信息</div>
		</div>
		<div id="paymentsListDetail">
		<script id="paymentsListTemp" type="text/html">
		<p class="repay-detail-name">基本信息</p>
    	<ul class="loan-detail-list">
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">贷款合同名称</div>
		    		<div class="ui-col ui-col-2">{{dataSource.contractName}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">贷款合同编号</div>
		    		<div class="ui-col ui-col-2">{{dataSource.contractNo}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">借款人</div>
		    		<div class="ui-col ui-col-2">{{dataSource.debtorName}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">贷款人</div>
		    		<div class="ui-col ui-col-2">{{dataSource.lenderName}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">贷款金额</div>
		    		<div class="ui-col ui-col-2">{{dataSource.loanAmount}}</div>
		    	</div>
    		</li>
    	</ul>
    	{{if dataSource.repayCategory=='Payable'}}
    	<p class="repay-detail-name">计划还款明细</p>
    	{{else if dataSource.repayCategory=='Actual'}}
    	<p class="repay-detail-name">实际支出明细</p>
    	{{/if}}
    	<ul class="loan-detail-list">
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">还款日期</div>
		    		<div class="ui-col ui-col-2">{{dataSource.repayDate}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">还款金额</div>
		    		<div class="ui-col ui-col-2">{{dataSource.repayAmount}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">类型</div>
		    		<div class="ui-col ui-col-2">{{dataSource.repayTypeDesc}}</div>
		    	</div>
    		</li>
    		{{if dataSource.repayCategory=='Payable'}}
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">状态</div>
		    		<div class="ui-col ui-col-2">{{dataSource.repayStatusDesc}}</div>
		    	</div>
    		</li>
    		{{/if}}
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">收款账户</div>
		    		<div class="ui-col ui-col-2">{{dataSource.accountName}}{{if dataSource.accountName}}({{dataSource.bankCardNo}} {{dataSource.bankName}} {{dataSource.accountStatusDesc}}){{/if}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">贷款本金余额</div>
		    		<div class="ui-col ui-col-2">{{dataSource.loanBalance}}</div>
		    	</div>
    		</li>
    		{{if dataSource.repayCategory=='Payable'}}
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">剩余</div>
		    		<div class="ui-col ui-col-2">{{dataSource.surplusAmount}}</div>
		    	</div>
    		</li>
    		<li>
    			<div class="ui-row-flex">
		    		<div class="ui-col ui-col-1">备注信息</div>
		    		<div class="ui-col ui-col-2">{{dataSource.remark}}</div>
		    	</div>
    		</li>
    		{{/if}}
    	</ul>
    	<ul class="more-list">
	    	<li>
	    		<a href="payments_detail.html?contractId={{dataSource.contractId}}&repayCategory={{dataSource.repayCategory}}">
			    <div class="ui-row-flex">
			    	<div class="ui-col">更多明细</div>
			    	<div class="ui-col ui-col-2 loan-view">查看<span class="self-more"></span></div>
			    </div>
			    </a>
	    	</li>
	    	<li>
	    		<a href="loan_attachment.html?relatedCategory={{if dataSource.repayCategory == "Payable"}}RepayPayable{{else if dataSource.repayCategory == "Actual"}}RepayActual{{/if}}&relatedKey={{dataSource.contractId}}">
			    <div class="ui-row-flex">
			    	<div class="ui-col">附件管理</div>
			    	<div class="ui-col ui-col-2 loan-view">查看<span class="self-more"></span></div>
			    </div>
			    </a>
	    	</li>
	    </ul>
    	</script>
    	</div>
    </body>
    <script type="text/javascript" src="js/zepto.min.js" ></script>
    <script type="text/javascript" src="js/frozen.js" ></script>
    <script type="text/javascript" src="js/artTemplate.min.js" ></script>
    <script type="text/javascript" src="js/common.js" ></script>
    <script type="text/javascript" src="js/module.js" ></script>
    <script>
    	$(function(){
    		paymentsList.init();
    		menus('home');
    	});
    </script>
</html>
