<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>支出计划</title>
 	<link rel="stylesheet" href="css/frozen.css" />
 	<link rel="stylesheet" href="css/main.css" />
    <body>
    	<div class="loan-search">
    		<em class="loan-back none"></em>
    		<input type="search" class="loan-search-ipt" name="search"/>
    		<span class="loan-search-btn">搜索</span>
    		<em class="loan-search-clear"></em>
    	</div>
    	<div class="ui-tab" id="repay-detail">
    	<ul class="ui-row-flex loan-detail-title loan-center" id="payments-menu">
		    <li class="ui-col current" data-type = "Payable">计划还款</li>
		    <li class="ui-col" data-type = "Actual">实际支出</li>
		</ul>
    	<ul class="ui-tab-content">
    		<li  class="listPayable">
		        <ul class="loan-list">
		        	<script id="tempPayable" type="text/html">
    				{{each records}}
			    	<li>
			    		<a href="payments_list.html?repayId={{$value.repayId}}&from=Payable">
			    			<div class="ui-row-flex active">
			    				<h3 class="ui-col ui-col-3 loan-list-name-s self-omit-2">{{$value.contractName}}</h3>
			    				<div class="ui-col ui-col-1 loan-list-status"><span class="{{if $value.repayType=='03'}}Enterprise{{else if $value.repayType=='05'}}Trust{{else if $value.repayType=='01'}}Personal{{else if $value.repayType=='02'}}type2{{else if $value.repayType=='04'}}Bank{{else if $value.repayType=='06'}}type1{{/if}}">{{$value.repayTypeDesc}}</span></div>
			    			</div>
			    			<div class="ui-row-flex loan-companyname self-line">
							    <div class="ui-col ui-col self-omit"><span class="loan-money">{{$value.repayAmount}}</span>万元</div>
							    <div class="ui-col ui-col loan-center self-omit"><span class="loan-money">{{$value.surplusAmount}}</span>万元</div>
							    <div class="ui-col ui-col loan-center self-omit"><span class="loan-list-title">{{$value.repayDate}}</span></div>
							</div>
							<div class="ui-row-flex loan-list-title">
							    <div class="ui-col ui-col">本期还款金额</div>
							    <div class="ui-col ui-col loan-center">剩余金额</div>
							    <div class="ui-col ui-col loan-center">还款日期</div>
							</div>
			    		</a>
			    	</li>
			    	{{/each}}
			    	</script>
			   	</ul>
			   	<div class="ui-loading-wrap">
				</div>
		    </li>
		    <li  class="none listActual">
			    <ul class="loan-list">
			    <script id="tempActual" type="text/html">
		    	{{each records}}
		    	<li>
		    		<a href="payments_list.html?repayId={{$value.repayId}}&from=Actual">
		    			<div class="ui-row-flex">
		    				<h3 class="ui-col ui-col-3 loan-list-name-s self-omit-2">{{$value.contractName}}</h3>
		    				<div class="ui-col ui-col-1 loan-list-status"><span class="{{if $value.repayType=='03'}}Enterprise{{else if $value.repayType=='05'}}Trust{{else if $value.repayType=='01'}}Personal{{else if $value.repayType=='02'}}type2{{else if $value.repayType=='04'}}Bank{{else if $value.repayType=='06'}}type1{{/if}}">{{$value.repayTypeDesc}}</span></div>
		    			</div>
		    			<div class="ui-row-flex loan-companyname self-line">
						    <div class="ui-col ui-col self-omit"><span class="loan-money">{{$value.repayAmount}}</span>万元</div>
						    <div class="ui-col ui-col loan-center self-omit"><span class="loan-money">{{$value.loanBalance}}</span>万元</div>
						    <div class="ui-col ui-col loan-center self-omit"><span class="loan-list-title">{{$value.repayDate}}</span></div>
						</div>
						<div class="ui-row-flex loan-list-title">
						    <div class="ui-col ui-col">本期还款金额</div>
						    <div class="ui-col ui-col loan-center">贷款本金余额</div>
						    <div class="ui-col ui-col loan-center">还款日期</div>
						</div>
		    		</a>
		    	</li>
		    	{{/each}}
			   	</script>
		   		</ul>
		  		<div class="ui-loading-wrap">
				</div>
			</li>
    	</ul>
    	</div>
    </body>
    <script type="text/javascript" src="js/zepto.min.js" ></script>
    <script type="text/javascript" src="js/frozen.js" ></script>
    <script type="text/javascript" src="js/artTemplate.min.js" ></script>
    <script type="text/javascript" src="js/common.js" ></script>
    <script type="text/javascript" src="js/module.js" ></script>
    <script>
    	$(function(){
			payments.init();
			menus();
		});
    </script>
</html>
